// 颜色定义规范
$color-background = #FFF
$color-index = #6289ad
$color-index-item = #9caebf

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 24px
